<html>
<body>
<div *ngIf="token.length > 0">
    <div class="form-container">
        <h1 class="form-heading type">Tell Us How We Did!</h1>
        <form >
          <div class="type">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="product">
              <label class="form-check-label" for="product">Review a Product!</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="service">
              <label class="form-check-label" for="sevice">Review Our Service!</label>
            </div>
          </div>
          
          <div class="serviceReview">
            <div class="form-group text form-element">
              <label>Enter your review below!</label>
              <textarea  class="form-control" name="review" id="review" rows="3"></textarea>
              <div id="totalCount">
                  <p>Total Character Count is: 0</p>
              </div>
            </div>
          </div>
  
          <div class="productReview" >
            <div class="child me">
              <select id="items" class="form-select col-md-8" aria-label="Default select example">
                <option value="0" selected>Select Item Name</option>
                <option *ngFor="let item of items" value={{item.id}}>{{item.name}}</option>
              </select>
            </div>
            <div class="rate child me">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit Review!</button>
        </form>
    </div>
  
    <h1>Here's What Our Customers Had to Say!</h1>
    <div class="reviews-container">

        <div class="reviews">
          <div *ngFor="let item of myReviews" class="review">{{item}}</div>
        </div>
      </div>
      
      
  </div>
  
  <div *ngIf="token.length < 0">
    Access Denied
  </div>
</body>
<app-footer></app-footer>
</html>
