<body>
    <div class="float-container" *ngIf="token">
        <div 
            cdkDropList 
            #itemList = "cdkDropList"
            [cdkDropListData] = "myData"
            [cdkDropListConnectedTo]="[cartList]"
            class="items div1">
            <div *ngFor="let item of myData" class="item" id="{{item.id}}" cdkDrag>
                <a><img draggable="false" width="250" height="250" src="../../assets/image/{{item.img}}" alt="{{item.name}}"/></a>
                <h2 class='itemTitle'>{{item.name}}</h2>
                <img class="stars" src="../../assets/image/{{map[item.id]}}stars.png">
                <span class='itemPrice'>${{item.price}}</span>
            </div>
        </div>

        <div class="cart div2">
            <div class ="cart_head">
                <h3>Delete Items Here</h3>
            </div>
            <div class="cart_trash_out" 
                cdkDropList
                #trashList="cdkDropList"
                [cdkDropListData]="trash"
                [cdkDropListConnectedTo]="[cartList]"
                (cdkDropListDropped)="dropRemove($event)">
                <div class="cart_trash" cdkDropList>
                </div>
            </div>

            <div class="cart_head">
                <h3>Drag Items Here</h3>
            </div> 
            <div
                cdkDropList
                #cartList="cdkDropList"
                [cdkDropListData]="cart"
                [cdkDropListConnectedTo]="[itemList, trashList]"
                class="cart_body_out"
                (cdkDropListDropped)="dropKeep($event)">

                <div class="cart_body" *ngFor="let item of cart" cdkDropList cdkDrag>
                    <li class="cart_item">{{item.name}}</li>
                </div>
            </div> 
            <a routerLink="/checkout" class="checkout"><button> Checkout!</button></a>
        </div>
    </div>
    <div *ngIf="!token">
        Access Denied
    </div>    
</body>
<app-footer></app-footer>

