<body>
  <div class="container" *ngIf="isAdmin()">
    <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)">
      <div>
        <label>View Table:</label>
        <select formControlName="table" class="form-select" (change)="tableSelected(angForm)">
          <option value="" selected>Select Table</option>
          <option *ngFor="let name of names" [ngValue]="name">{{name}}</option>
        </select>
      </div>
      <div>
        <label>Query:</label>
        <input type="text" class="form-control" formControlName="query">
      </div>
      <button type="submit" class="btn btn-primary">Perform Action</button>
    </form>
    <pre>
      <code id="result"></code>
    </pre>
  </div>
 
</body>
 <app-footer></app-footer>
