body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1ECE2;
    min-height: 100vh;
  }

.review-container {
    max-width: 70%;
    max-height: 450px;
    margin:auto;
    text-align: center;
    padding-top:5em;
    font-weight:bolder;
    font-size:xx-large;
    overflow:hidden;
}

.review {
    height: 150px;
}

.review-container:hover{
    overflow-y:scroll;
}

.review-container::-webkit-scrollbar{
    width: 0em;
}
.review p{
    font-size: 15px; /* fallback */
    font-size: clamp(10px, 5vw, 20px);}

.text {
    margin-bottom: 5px;
}

.form-container h1{
    color:rgb(255, 255, 255);
    padding-bottom:1em;
}

.form-container button{
    background-color:aliceblue;
    color: rgb(1, 2, 2);
    border-radius: 10px 10px 10px 10px;
    border-style: none;
}


.form-element{
    padding-bottom: 1em;
}

.form-element label{
    padding-bottom: 1em;
}

.form-element input {
    max-width: 70%;
    margin:auto;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
}
.form-container {
    color: #fff;
    font-size: large;
    font-weight: bold;
    background-color: rgb(193, 206, 216);
    border-radius: 50px;
    text-align: center;
    padding: 1em;
    min-width: 500px;
    max-width: 100%;
    vertical-align: center;
    background: #45a29e;
  }

.btn {
    margin-top: 5px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/* #items {
    width: 30%;
}

.productReview{
    text-align: center;

} */

.child {
    width: 40%;
    float: left;
    /* padding: 5px; */
    align-items: center;
    /* border: 2px solid red; */
}  
.me {
    margin-left: 2.5em;
}
.productReview {
    text-align: center;
    align-items: center;

}

.reviews-container {
    background-color: darkcyan;
    padding: 50px;
    height: 400px; /* adjust the height as needed */
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 800px;
  }
  
  .reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .review {
    background-color: #F1ECE2;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
  }
  
  textarea {
    margin-left:1px;
    border-radius:20px;
    background-color:#6ab3b3;
    transition: background-color 0.5s;
    border: 0;
    outline: 0;
    width: 100%;
    margin-bottom:10px;
}

textarea:focus {
    outline: none !important;
    background-color:rgb(255, 251, 245)
}


button {
    color:#fff;
    background-color:#6ab3b3;
    margin-left:1px;
    border-radius:100px;
    min-height:75px;
    border: 0;
    transition: background-color 0.5s;
    text-align:center;
    vertical-align: middle;
    font: 2em sans-serif;
}

button:hover {
    background-color:#f5ffff;
    color:#45a29e;
}
h1 {
    margin-top:50px;
}
