<body>
<div class="container">

  <h1 class="AboutUs">About Us</h1>
  <div class="row detail">
    <div class="col-2">
      <img src="../../assets/image/head1.JPG"/>
    </div>
    <div class="col-10">
      <p class="names">Mohammed Kazi Tani</p>
      <p>m1kazi@torontomu.ca</p>
    </div>
  </div>
  <div class="row detail">
    <div class="col-2">
      <img src="../../assets/image/head2.JPG"/>
    </div>
    <div class="col-10">
      <p class="names">Osama Teskie</p>
      <p>oteskie@torontomu.ca</p>
    </div>
  </div>
  <div class="row detail">
    <div class="col-2">
      <img src="../../assets/image/head3.JPG"/>
    </div>
    <div class="col-10">
      <p class="names">Jim Yao</p>
      <p>bojing.yao@torontomu.ca</p>
    </div>
  </div>
  <div class="row detail">
    <div class="col-2">
      <img src="../../assets/image/head4.JPG"/>
    </div>
    <div class="col-10">
      <p class="names">Gurtej Virdi</p>
      <p>gurtej.virdi@torontomu.ca</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
  </body>
