.card-header {
    margin-bottom: 1em;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    
}
body {
    background-color: #F1ECE2;
}

.card {
    margin-bottom: 1em
}
.card-footer {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    margin-top: 1em;
}
.text-muted {
    color:white
}
